@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

:root{
    --color-p:rgb(37, 37, 37);
    --color-np: #ededed;
    --color-pu: rgb(85, 85, 85);
    --color-comentario: rgb(85, 85, 85);

    --color-bg-img: rgb(48, 48, 48);

    --background-color: #ffffff;
    --color-barra-lateral:rgb(255,255,255);

    --color-texto:rgb(0,0,0);
    --color-texto-menu:rgb(134,136,144);

    --color-menu-hover:rgb(238,238,238);
    --color-menu-hover-texto:rgb(0,0,0);

    --color-boton:rgb(0,0,0);
    --color-boton-texto:rgb(255,255,255);

    --color-linea:rgb(180,180,180);

    --color-switch-base :rgb(201,202,206);
    --color-switch-circulo:rgb(241,241,241);

    --color-scroll:rgb(192,192,192);
    --color-scroll-hover:rgb(134,134,134);

    --bg-comentari: #ffffff;
    --bg-border-comentari: #ffffff;
    --bg-text-comentari: #333333;

    --border-color: #333333;
}

.dark-mode{
    
    --color-bg-img: rgb(112, 112, 112);
    
    --color-p: #ededed;
    --color-np:rgb(85, 85, 85);
    --color-pu: rgb(85, 85, 85);
    --color-comentario: rgb(85, 85, 85);
    
    --background-color: rgb(25, 26, 27);
    --color-barra-lateral:rgb(10, 10, 10);

    --color-texto:rgb(255,255,255);
    --color-texto-menu:rgb(110,110,117);

    --color-menu-hover:rgb(0,0,0);
    --color-menu-hover-texto:rgb(238,238,238);

    --color-boton:rgb(255,255,255);
    --color-boton-texto:rgb(0,0,0);

    --color-linea:rgb(90,90,90);

    --color-switch-base :rgb(39,205,64);
    --color-switch-circulo:rgb(255,255,255);

    --color-scroll:rgb(68,69,74);
    --color-scroll-hover:rgb(85,85,85);

    --bg-comentari: #333333;
    --bg-border-comentari: #333333;
    --bg-text-comentari: #ffffff;

    --border-color: #ededed;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

.dropzone .dz-preview .dz-image {
    zoom: 2.4;
}

.new_post{
    color: var(--color-np);
}

.comentarios{
    color: var(--color-comentario);
}

p{
    color: var(--color-p);
}

span{
    color: var(--color-p);
}

h2{
    color: var(--color-p);
}

.post-user{
    color: var(--color-pu);
}

body{
    height: 100vh;
    width: 100%;
    background-color: var(--background-color);
}

/*-----------------Menu*/
.menu{
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
    right: 15px;
    top: 15px;
    z-index: 100;
}


/*----------------Barra Lateral*/
.barra-lateral{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 100%;
    overflow: hidden;
    padding: 20px 15px;
    background-color: var(--color-barra-lateral);
    transition: width 0.5s ease,background-color 0.3s ease,left 0.5s ease;
    z-index: 50;
}

.icon-ico-mod{
    margin-left: .5rem;
}

.mini-barra-lateral{
    width: 80px;
}
.barra-lateral span{ 
    /* esta seccion es de "nuevo post" */
    width: 100px;
    white-space: nowrap;
    font-size: 1rem;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease,width 0.5s ease;
}

.barra-lateral .boton ion-icon{
    /* esta seccion es de icono "nuevo post" */
    min-width: 50px;
    font-size: 25px;
}

.barra-lateral .my-profile{
    /* esta seccion es de Mi perfil */
    display: flex;
    white-space: nowrap;
    font-size: 1.4rem;
    text-align: left;
    margin-left: 10px;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease,width 0.5s ease;
}

.barra-lateral span.oculto{
    opacity: 0;
    width: 0;
}

/*------------> Nombre de la página */
.barra-lateral .nombre-pagina{
    width: 100%;
    height: 45px;
    color: var(--color-texto);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.barra-lateral .nombre-pagina ion-icon{
    /* esta seccion es del logo de la parte superior izquierda */
    min-width: 50px;
    font-size: 40px;
    cursor: pointer;
}
.barra-lateral .nombre-pagina span{
    /* esta seccion es del nombre de pagina y contenido para navegar lateral */
    margin-left: 5px;
    font-size: 20px;
}


/*------------> Botón*/
.barra-lateral .boton{
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
}



/*--------------> Menu Navegación*/
.barra-lateral .navegacion{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.barra-lateral .navegacion::-webkit-scrollbar{
    width: 5px;
}
.barra-lateral .navegacion::-webkit-scrollbar-thumb{
    background-color: var(--color-scroll);
    border-radius: 5px;
}
.barra-lateral .navegacion::-webkit-scrollbar-thumb:hover{
    background-color: var(--color-scroll-hover);
}
.barra-lateral .navegacion li{  
    list-style: none;
    display: flex;
    margin-bottom: 5px;
}
.barra-lateral .navegacion a{
    padding: 1rem 1rem 1rem 0;
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    color: var(--color-texto-menu);
    transition: background-color 0.3s, color 0.3s;
}

.text-profile{
    font-size: 2rem; 
}

.barra-lateral .navegacion button{
    width: 150%;
    height: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    color: var(--color-texto-menu);
}


.barra-lateral .navegacion a:hover{
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}

.barra-lateral .navegacion ion-icon{
    min-width: 50px;
    font-size: 20px;
}

/*-----------------> Linea*/
.barra-lateral .linea{
    width: 100%;
    height: 1px;
    margin-top: 15px;
    background-color: var(--color-linea);
}

/*----------------> Modo Oscuro*/
.barra-lateral .modo-oscuro{
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.barra-lateral .modo-oscuro .info{
    width: 150px;
    height: 45px;
    overflow: hidden;
    display: flex;
    align-items: center;
    color: var(--color-texto-menu);
}
.barra-lateral .modo-oscuro ion-icon{
    width: 50px;
    font-size: 20px;
}

/*--->switch*/
.barra-lateral .modo-oscuro .switch{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 45px;
    cursor: pointer;
}
.barra-lateral .modo-oscuro .base{
    position: relative;
    display: flex;
    align-items: center;
    width: 35px;
    height: 20px;
    background-color: var(--color-switch-base);
    border-radius: 50px;
}
.barra-lateral .modo-oscuro .circulo{
    position: absolute;
    width: 18px;
    height: 90%;
    background-color: var(--color-switch-circulo);
    border-radius: 50%;
    left: 2px;
    transition: left 0.5s ease;
}
.barra-lateral .modo-oscuro .circulo.prendido{
    left: 15px;
}

/*---------------> Usuario*/
/* .barra-lateral .usuario{
    width: 100%;
    display: flex;
}
.barra-lateral .usuario .miniimage{
    width: 50px;
    height: 50px;
    min-width: 50px;
    border-radius: 50%;
}
.barra-lateral .usuario .info-usuario{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-texto);
    overflow: hidden;
}
.barra-lateral .usuario .nombre-email{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.barra-lateral .usuario .nombre{
    font-size: 15px;
    font-weight: 600;
}
.barra-lateral .usuario .email{
    font-size: 13px;
}
.barra-lateral .usuario ion-icon{
    font-size: 20px;
} */


/*-------------main*/

#inbox{
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}

main{
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.5s ease;
}
main.min-main{
    margin-left: 80px;
}

.img_registro{
    filter: drop-shadow(15px 15px 5px var(--color-bg-img))
}

.img_login{
    filter: drop-shadow(15px 15px 3px var(--color-bg-img))
}

.img_login_1{
    filter: drop-shadow(15px 15px 5px var(--color-bg-img))
}

.img_follow{
    filter: drop-shadow(15px 15px 5px var(--color-bg-img));
    width: 60%;
    
}

@media (max-width: 1193px){
    .img_registro{
        display: none;
    }
    .img_login{
        display: none;
    }

    .img_login_1{
        display: none;
    }

    .img_follow{
        width: 100%;
        
    }
}

/*------------------> Responsive*/
@media (max-height: 660px){
    .barra-lateral .nombre-pagina{
        margin-bottom: 5px;
    }
    .barra-lateral .modo-oscuro{
        margin-bottom: 3px;
    }
}

@media (max-width: 600px){
    .barra-lateral{
        position: fixed;
        left: -250px;
    }
    .max-barra-lateral{
        left: 0;
    }
    .menu{
        display: flex;
    }
    .menu ion-icon:nth-child(2){
        display: none;
    }
    main{
        margin-left: 0;
    }
    main.min-main{
        margin-left: 0;
    }
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bg-comentary{
    background-color: var(--bg-comentari);
    border: 1px solid;
    border-color: var(--bg-border-comentari);
}

.color-comentari{
    color: var(--bg-text-comentari);
}

.border-style{
    border: 2px solid var(--border-color);
}