.scrollbar-thin::-webkit-scrollbar {
    width: 6px; /* Ajusta el ancho del scrollbar */
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #4a5568; /* Cambia el color de la barra de desplazamiento */
    border-radius: 3px; /* Ajusta el redondeo de las esquinas del thumb */
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background-color: #cbd5e0; /* Cambia el color del fondo de la barra de desplazamiento */
    border-radius: 3px; /* Ajusta el redondeo de las esquinas del track */
  }